:root {
  --c-gray-900: #252525;
  --c-gray-800: #3C3C3C;
  --c-gray-700: #606060;
  --c-gray-600: #848484;
  --c-gray-500: #C5C3C3;
  --c-gray-400: #CECDCD;
  --c-gray-300: #E7E7E7;
  --c-gray-200: #F5F5F5;
  --c-gray-100: #FCFAFA;
  --c-yellow-900: #F6DD59;
  --c-blue-900: #2E8CCE;
  --c-blue-400: #91BEDD;
  --c-purple-900: #9E76DC;
  --c-purple-400: #D3C1EE;
  --c-green-900: #2C8402;
  --c-green-400: #9BE378;
  --c-red-900: #AD2204;
  --c-red-800: #D13513;
  --c-red-400: #F97E63;

  --border-light: 1px solid var(--c-gray-300);
  --border-gray: 1px solid var(--c-gray-400);
  --border-dark: 1px solid var(--c-gray-700);
  --main-text-color: var(--c-gray-900);
  --bdrs: 12px;

  --h1: 32px;
  --h2: 24px;
  --h3: 18px;
  --text-s: 12px;
  --text-m: 14px;
  --text-l: 16px;
  --text-color: var(--c-gray-900);
  --text-info-color: var(--c-gray-700);
  --text-success-color: var(--c-green-900);
  --text-danger-color: var(--c-red-800);

  --input-bg: var(--c-gray-100);
  --input-bdrs: var(--bdrs);
  --input-border-color: var(--c-gray-300);
  --input-color: var(--c-gray-900);
  --input-label-color: var(--c-gray-700);
  --input-hover-border-color: var(--c-gray-400);
  --input-focus-outline-color: var(--c-purple-400);
  --input-invalid-border-color: var(--c-red-800);
  --input-invalid-color: var(--c-red-800);
  --input-disabled-bg: var(--c-gray-200);
  --input-disabled-color: var(--c-gray-600);

  /* --input-dark-bg: var(--c-gray-100);
  --input-dark-bdrs: var(--bdrs);
  --input-dark-border-color: var(--c-gray-300);
  --input-dark-color: var(--c-gray-900);
  --input-dark-label-color: var(--c-gray-700);
  --input-dark-hover-border-color: var(--c-gray-400);
  --input-dark-focus-outline-color: var(--c-purple-400);
  --input-dark-invalid-border-color: var(--c-red-800);
  --input-dark-invalid-color: var(--c-red-800);
  --input-dark-disabled-bg: var(--c-gray-200);
  --input-dark-disabled-color: var(--c-gray-600); */

  --btn-border-radius: var(--bdrs);
  --btn-l-padding: 12px 32px;
  --btn-s-padding: 8px 24px;
  --btn-font-size: 16px;
  --btn-line-height: 1.5rem;
  --btn-outline-width: 3px;

  --btn-primary-color: var(--c-gray-100);
  --btn-primary-bg: var(--c-gray-900);
  --btn-primary-bg-hover: var(--c-gray-800);
  --btn-primary-bg-disabled: var(--c-gray-300);
  --btn-primary-color-disabled: var(--c-gray-600);
  --btn-primary-outline-color-focus: var(--c-purple-400);

  --btn-negative-color: var(--c-gray-100);
  --btn-negative-bg: var(--c-red-800);
  --btn-negative-bg-hover: var(--c-red-900);
  --btn-negative-bg-disabled: var(--c-gray-300);
  --btn-negative-color-disabled: var(--c-gray-600);
  --btn-negative-outline-color-focus: var(--c-red-400);

  --btn-secondary-color: var(--c-gray-900);
  --btn-secondary-bg: var(--c-gray-100);
  --btn-secondary-border-color: var(--c-gray-900);
  --btn-secondary-color-hover: var(--c-gray-100);
  --btn-secondary-bg-hover: var(--c-gray-800);
  --btn-secondary-bg-disabled: var(--c-gray-300);
  --btn-secondary-color-disabled: var(--c-gray-600);
  --btn-secondary-outline-color-focus: var(--c-purple-400);

  --btn-info-color: var(--c-gray-900);
  --btn-info-bg: var(--c-gray-300);
  --btn-info-border-color: var(--c-gray-300);
  --btn-info-color-hover: var(--c-gray-100);
  --btn-info-bg-hover: var(--c-gray-900);
  --btn-info-bg-disabled: var(--c-gray-400);
  --btn-info-color-disabled: var(--c-gray-600);
  --btn-info-outline-color-focus: var(--c-purple-400);


  --dp-panel-bg: var(--c-gray-900);
  --dp-panel-main-color: var(--c-gray-100);
  --dp-panel-secondary-color: var(--c-gray-600);
  --dp-panel-active-color: var(--c-green-400);
  --dp-panel-hover-color: var(--c-gray-800);
  --dp-panel-bdrs: 12px;
  --dp-panel-cell-size: 32px;
  --dp-panel-cell-bdrs: 8px;
  --dp-panel-padding: 16px;
  --dp-panel-day-fs: 12px;
  --dp-panel-date-fs: 14px;
  --dp-panel-border-color: var(--c-gray-800);

  --chip-height: 32px;
  --chip-bg: var(--c-gray-100);
  --chip-border: var(--border-light);
  --chip-border-radius: 8px;
  --chip-padding: 6px 12px;
  --chip-color: var(--c-gray-900);
  --chip-close-color: var(--c-red-800);

  --section-padding: 24px;
  --section-border: var(--border-light);
  --section-border-radius: 24px;
  --section-bg: var(--c-gray-100);

  --cbx-size: 16px;
  --cbx-border: 1px solid var(--c-gray-500);
  --cbx-bdr: 4px;
  --cbx-active-color: var(--c-green-400);

  /* --select vars used for select, multiselect components */
  --select-bg: var(--c-gray-100);
  --select-color: var(--c-gray-900);
  --select-list-mt: 8px;
  --select-list-bdrs: 12px;
  --select-border: var(--border-gray);
  --select-list-item-padding: 12px 16px;
  --select-list-item-color: var(--c-gray-700);
  --select-list-item-color-hover: var(--c-gray-700);
  --select-list-item-bg-hover: var(--c-gray-200);

  --select-dark-bg: var(--c-gray-900);
  --select-dark-color: var(--c-gray-100);
  --select-dark-list-bg: var(--c-gray-800);
  --select-dark-border: var(--border-dark);
  --select-dark-list-item-color: var(--c-gray-100);
  --select-dark-list-item-color-hover: var(--c-gray-100);
  --select-dark-list-item-bg-hover: var(--c-gray-700);

  --tag-padding: 4px 8px;
  --tag-bdrs: 8px;
  --tag-font-size: 12px;
  --tag-black-bg: var(--c-gray-900);
  --tag-black-color: var(--c-gray-100);
  --tag-green-bg: var(--c-green-400);
  --tag-green-color: var(--c-gray-900);
  --tag-purple-bg: var(--c-purple-400);
  --tag-purple-color: var(--c-gray-900);
  --tag-blue-bg: var(--c-blue-400);
  --tag-blue-color: var(--c-gray-900);
  --tag-yellow-bg: var(--c-yellow-900);
  --tag-yellow-color: var(--c-gray-900);
  --tag-red-bg: var(--c-red-400);
  --tag-red-color: var(--c-gray-900);

  --dlg-bdrs: 24px;
  --dlg-bg: var(--c-gray-100);
  --dlg-padding: 32px;
  --dlg-border-color: var(--c-gray-300);
  --dlg-header-title-color: var(--c-gray-900);
  --dlg-header-title-ff: 'Commissioner';
  --dlg-header-title-fw: 700;
  --dlg-header-title-fs: 24px;

  --link-color: var(--c-blue-900);
  --link-hover-color: var(--c-blue-400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus-visible {
  outline: none;
  border-color: transparent;
}

body {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

h1, h2, h3 {
  font-family: 'Commissioner';
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-text-color);
}

h1 {
  font-size: 32px;
  line-height: 48px;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
} 

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

span, p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}

input {
  height: 48px;
}

input, textarea, .ui-input {
  padding: 12px 16px;
  border-radius: var(--bdrs);
  border: var(--border-light);
  background-color: var(--input-bg);
  outline: none;
  color: var(--c-gray-900);
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
}

.ui-input:not(:disabled):hover,
input:not(:disabled):hover,
textarea:not(:disabled):hover {
  border-color: var(--c-gray-400);
}

.ui-input:not(:disabled):focus,
input:not(:disabled):focus,
textarea:not(:disabled):focus {
  border-color: var(--c-purple-400);
  outline: 3px solid var(--c-purple-400);
}

.ui-input:disabled,
input:disabled,
textarea:disabled {
  background-color: var(--c-gray-200);
  color: var(--c-gray-600);
}

.ui-input__invalid,
.ui-input__invalid > input {
  border-color: var(--input-invalid-color);
  color: var(--input-invalid-color);
}

.ui-layout {
  width: 100%;
  height: 100vh;
  background-color: var(--c-gray-200);
}

.ui-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 14px;
  color: var(--c-gray-700);
}
